.table-infos {
  background-color: green;
  color: white;
}
.table-dangers {
  background-color: red;
  color: white;
}
.table-warnings {
  background-color: orange;
  color: white;
}

.student-form {
  display: flex;
  flex-direction: column;
}

.update-student-btn {
  border: none;
  outline: none;
  background: none;
  text-decoration: underline;
  color: white;
}
