body {
  background-color: rgb(228, 227, 227);
}

.table-infos {
  background-color: green;
  color: white;
}
.table-dangers {
  background-color: red;
  color: white;
}
.table-warnings {
  background-color: orange;
  color: white;
}

.student-form {
  display: flex;
  flex-direction: column;
}

.update-student-btn {
  border: none;
  outline: none;
  background: none;
  text-decoration: underline;
  color: white;
}
.form-group {
  margin-bottom: 1rem !important;
}

.score-group {
  display: flex;
  align-items: center;
}
.score-group input {
  margin-left: 0.5rem;
}
